/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply basic styles */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;

}

h1 {
    font-size: 32px;
    text-align: center;
    color: white; /* Blue */

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#filters {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, select, input, button {
    margin-bottom: 10px;
}

select, input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select[multiple] {
    height: 100px;
}

#sort-order, #filter-button {
    background-color: #0072c6;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sort-order:hover, #filter-button:hover {
    background-color: #004c8c; /* Darker blue on hover */
}

#organization-list {
    margin-top: 20px;
}

.organization-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #0072c6; /* Blue for table header */
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

#padding{
    padding: 0px 200px 0px 200px;
}


nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 0;
    margin-bottom: 30px;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
