/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Style the navigation menu */
nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the main content */
main {
    padding: 2rem;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
}

#bar{
    display: flex;
    flex-basis: 10px;
    justify-content: center;
}

